<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Stories</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <style>
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    }
  </style>
  
  <body>
    <div>
      {{#story}}
      <div><a href="/story/{{.}}">{{.}}</a></div>
      {{/story}}
    </div>
    <div>
      <a href="https://github.com/viperscape/interstratis">about</a>
    </div>
  </body>
</html>
