<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Story</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <style>
    body {
    padding-top: 40px;
    padding-bottom: 40px;
    }
  </style>
  
  <body>
    <div>
      {{#result.vars}}
      <div>{{.}}</div>
      {{/result.vars}}
    </div>
    <div>
      {{#result.nexts}}
      <div><a href="/story/{{result.story}}/{{block}}">{{name}}</a></div>
      {{/result.nexts}}
    </div>
  </body>
</html>
